#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUM    1
#define NAV    2
#define SYM    3


/ {
    behaviors {
td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&kp SEMI>, <&kp COLON>;
        };
td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp FSLH>, <&kp BSLH>;
        };
    
td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LC(C)>, <&kp LC(X)>;
        };
td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(COMMA)>, <&kp LS(DOT)>;
        };
td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };
td5: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_5";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(LBKT)>, <&kp LS(RBKT)>;
        };
td6: tap_dance_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_6";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(N9)>, <&kp LS(N0)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
 &kp Q     &kp W     &kp E     &kp R    &kp T                                                                   &kp Y       &kp U  &kp I      &kp O     &kp P
 &kp A     &kp S     &kp D     &kp F    &kp G                                                                   &kp H       &kp J  &kp K      &kp L     &td0
 &kp Z     &kp X     &kp C     &kp V    &kp B     &kp TAB          &kp LGUI          &td2     &kp LC(V)     &kp N       &kp M  &kp COMMA  &kp DOT   &td1
           &mo SYM   &mo SYM            &kp SPC   &mt LSHIFT TAB   &kp LCTRL         &kp ESC  &lt NUM RET   &mt LSHIFT BSPC    &mo NAV    &mo SYM
            >;
        };
        
        numpad_layer {
            bindings = <
 &kp PLUS &kp N7      &kp N8     &kp N9    &kp MINUS                                        &none  &none  &none  &none  &none
 &kp STAR &kp N4      &kp N5     &kp N6    &kp FSLH                                         &none  &none  &none  &none  &none
 &kp N0   &kp N1      &kp N2     &kp N3    &kp DOT    &trans  &trans        &none  &mo NUM  &none  &none  &none  &none  &none
          &kp EQUAL   &kp EQUAL            &trans     &trans  &trans        &none  &none    &none         &none  &none
            >;
        };
        
        nav_layer {
            bindings = <
 &none    &kp HOME  &kp UP     &kp END    &kp PG_UP                                          &none  &none  &none  &none  &none
 &none    &kp LEFT  &kp DOWN   &kp RIGHT  &kp PG_DN                                          &none  &none  &none  &none  &none
 &none    &none     &none      &none      &none       &trans  &trans         &mo NAV  &none  &none  &none  &none  &none  &none
          &mo SYM   &mo SYM               &trans      &trans  &trans         &none    &none  &none         &none  &none
            >;
        };

        sym_layer {
            bindings = <
 &kp GRAVE  &kp CARET   &kp AMPS  &kp UNDER  &kp STAR                                     &none  &none  &none  &none  &none
 &kp TILDE  &kp PIPE    &kp HASH  &kp AT     &kp EXCL                                     &none  &none  &none  &none  &none
 &td3       &td4        &td5      &td6       &none   &trans  &trans         &none  &none  &none  &none  &none  &none  &none
            &mo SYM     &mo SYM              &trans  &trans  &trans         &none  &none  &none         &mo SYM  &mo SYM
            >;
        };
    };
};
